---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/navigationBar/Navbar.astro";
import Card from '../components/Card.astro';
import CardWithInput from '../components/CardWithInput.astro';

// Importing database tools.
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from 'firebase-admin/firestore';

// Importing user interface and user functions.
import type { userModel } from '../pages/api/interfaces/user';
import { getUserSnapshot, checkCookieSessionAndGetUser } from '../pages/api/users/user'

// Initalizing the method that will allow us to get the user.
const auth = getAuth(app);

// Check current session 
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const user = await checkCookieSessionAndGetUser(Astro.cookies.get("session").value);

if (!user) {
  return Astro.redirect("/signin");
}

const userSnapshot = await getUserSnapshot(user)

if (!userSnapshot.exists) {
  return Astro.redirect("/404");
}
// Getting the current user.
const currentUser = userSnapshot.data() as userModel;

import '../styles.css';
---

<Layout title="Â¿Como Se Dice?">
	<!-- Navigation bar -->
	<Navbar 
    username={ currentUser.username }, 
    email={ currentUser.email }, 
    userImage='/src/pages/images/mario.png'
    />

	<!-- Card elements. -->
	<main class=" flex justify-center items-center h-fit">
		<ul role="list" class="link-card-grid drop-shadow-xl">
			<Card
				href="/singleplayer"
				title="Start Singleplayer"
				body="Play Como Se Dice Alone"
				
			/>
			<Card
				href="/multiplayer"
				title="Start Multiplayer Room"
				body="Start a room to play against friends ðŸ˜ˆ"
			/> 
			<Card
				href="daily"
				title="Start Daily Challenge"
				body="Get as many words right in the shortest time and see where you stack up against the world ðŸŒ"
			/>
			<CardWithInput
				title="Join Multiplayer Room"
				roomCode="0000"

			/>
		</ul>
	</main>
</Layout>
