---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardWithInput from '../components/CardWithInput.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles.css';

const response = await fetch("http://localhost:3000/users/")
const data = await response.json()
---

<Layout title="Â¿Como Se Dice?">
{data.map((item) => (
					<ul>
						<li>Name:{item.name}</li>
					</ul>
				))}
	<main class="snap-center">
	    <svg>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				>
			</defs>
		</svg>
		<h1><span class="snap-center flex drop-shadow-md text-gradient rounded-xl dark:bg-slate-800 flex justify-center space-x-4 text-2xl">Â¿Como Se Dice?</span></h1>
		<ul role="list" class="link-card-grid drop-shadow-xl">
			<Card
				href="/singleplayer"
				title="Start Singleplayer"
				body="Play Como Se Dice Alone"
				
			/>
			<Card
				href="/multiplayer"
				title="Start Multiplayer Room"
				body="Start a room to play against friends ðŸ˜ˆ"
			/>
			<Card
				href="daily"
				title="Start Daily Challenge"
				body="Get as many words right in the shortest time and see where you stack up against the world ðŸŒ"
			/>
			<CardWithInput
				title="Join Multiplayer Room"
				roomCode="0000"

			/>
		</ul>
	</main>
</Layout>


