---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navigationBar/Navbar.astro';
import LeaderboardRows from '../components/react/leaderboard.jsx'

// Importing user interface and user functions.
import type { userModel } from '../pages/api/interfaces/user';
import { getUserSnapshot, checkCookieSessionAndGetUser } from '../pages/api/users/user'

// Importing the top X best scores for the timed game mode.
import { getFiveBestTimedScores } from '../pages/api/users/leaderboards.ts';

// Check current session 
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const user = await checkCookieSessionAndGetUser(Astro.cookies.get("session")?.value);

if (!user) {
  return Astro.redirect("/signin");
}

const userSnapshot = await getUserSnapshot(user)

if (!userSnapshot.exists) {
  return Astro.redirect("/404");
}
// Getting the current user.
const currentUser = userSnapshot.data() as userModel;

// Getting the X users with best scores in the timed game mode.
const testingArray = await getFiveBestTimedScores()
---

<Layout title='leaderboard'>
  <Navbar 
    username={ currentUser.username }, 
    email={ currentUser.email }, 
    userImage={ currentUser.profilePicture }
  />

  <!-- <h1 class="flex justify-center items-center mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl m:text-4xl dark:text-black">Leaderboard</h1> -->

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Rank
                </th>
                <th scope="col" class="px-6 py-3">
                    High score
                </th>
                <th scope="col" class="px-6 py-3">
                    Games played
                </th>
            </tr>
        </thead>
        
        <tbody>

          <LeaderboardRows users={ testingArray }></LeaderboardRows>

        </tbody>
    </table>
  </div>

</Layout>
