---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navigationBar/Navbar.astro';
import LeaderboardRow from '../components/leaderboard/leaderboardRow.astro';
import TestingRows from '../components/leaderboard/testingRows.astro';

// Importing database tools.
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from 'firebase-admin/firestore';

// Importing user interface and user functions.
import type { userModel } from '../pages/api/interfaces/user';
import { getUserSnapshot, checkCookieSessionAndGetUser } from '../pages/api/users/user'

// Importing the top X best scores for the timed game mode.
import { getXBestTimedScores } from '../pages/api/users/leaderboards.ts';

// Initalizing the method that will allow us to get the user.
const auth = getAuth(app);

// Check current session 
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const user = await checkCookieSessionAndGetUser(Astro.cookies.get("session").value);

if (!user) {
  return Astro.redirect("/signin");
}

const userSnapshot = await getUserSnapshot(user)

if (!userSnapshot.exists) {
  return Astro.redirect("/404");
}
// Getting the current user.
const currentUser = userSnapshot.data() as userModel;

// Getting the X users with best scores in the timed game mode.
const testingArray = await getXBestTimedScores()
---

<Layout title='leaderboard'>
  <Navbar 
    username={ currentUser.username }, 
    email={ currentUser.email }, 
    userImage='/src/pages/images/mario.png'
  />

  <h1 class="flex justify-center items-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl dark:text-white">Leaderboard</h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Rank
                </th>
                <th scope="col" class="px-6 py-3">
                    High score
                </th>
                <th scope="col" class="px-6 py-3">
                    Streak
                </th>
            </tr>
        </thead>
        <tbody>
          <LeaderboardRow 
            username = { testingArray[0].username };
            email = { testingArray[0].email };
            bestScore = { testingArray[0].timedGameMode.bestScore };
            streak = { testingArray[0].timedGameMode.gamesPlayed };
            rank = "# 1";
          ></LeaderboardRow>

          <LeaderboardRow 
            username = { testingArray[1].username };
            email = { testingArray[1].email };
            bestScore = { testingArray[1].timedGameMode.bestScore };
            streak = { testingArray[1].timedGameMode.gamesPlayed };
            rank = "# 2";
          ></LeaderboardRow>

          <LeaderboardRow 
            username = { testingArray[2].username };
            email = { testingArray[2].email };
            bestScore = { testingArray[2].timedGameMode.bestScore };
            streak = { testingArray[2].timedGameMode.gamesPlayed };
            rank = "# 3";
          ></LeaderboardRow>

        </tbody>
    </table>
  </div>

</Layout>
