---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from './Button.astro';
import { ViewTransitions } from 'astro:transitions';
import SettingsForm from '../components/SettingsForm.astro';
import '../styles.css'
---


<Layout title="¿Como Se Dice?">
	<main>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
        <h1><span class="text-center text-gradient">¿Como Se Dice?</span></h1>
		<SettingsForm
		title="Singleplayer"
		></SettingsForm>

		

	</main>
</Layout>