---

import GameLayout from '../layouts/GameLayout.astro';
import Navbar from '../components/navigationBar/Navbar.astro';
import Game from '../components/Game.astro';

// Importing database tools.
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

// Importing user interface and user functions.
import type { userModel } from '../pages/api/interfaces/user';
import { getUserSnapshot, checkCookieSessionAndGetUser } from '../pages/api/users/user'

// Initalizing the method that will allow us to get the user.
const auth = getAuth(app);

// Check current session
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const user = await checkCookieSessionAndGetUser(Astro.cookies.get("session").value);

if (!user) {
  return Astro.redirect("/signin");
}

const userSnapshot = await getUserSnapshot(user)

if (!userSnapshot.exists) {
  return Astro.redirect("/404");
}
// Getting the current user.
const currentUser = userSnapshot.data() as userModel;
console.log("CurrentUser " + user.uid)
const id = user.uid;

import '../styles.css'
import Layout from '../layouts/Layout.astro';
---

<Layout title="¿Como Se Dice?">

	<GameLayout title="¿Como Se Dice?">
		<Navbar
		username={ currentUser.username },
		email={ currentUser.email },
		userImage='/src/pages/images/mario.png'
		/>
		<main>
				<defs>
					<linearGradient
						id="paint0_linear_1805_24383"
						x1="247.358"
						y1="0"
						x2="247.358"
						y2="622.479"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-opacity="0.9"></stop>
						<stop offset="1" stop-opacity="0.2"></stop>
					</linearGradient>
				</defs>
			</svg>


			<div class="flex flex-col items-center">
				<div class="w-full max-w-sm ">
					<div class="flex flex-col items-center pb-10">
						<img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/src/pages/images/mario.png" />
						<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{ currentUser.username }</h5>
						<div class="flex mt-4 md:mt-6">
							<form>
								<p id="bestScore" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center dark:text-white">Best score: { currentUser.normalGameMode.bestScore }</p>
								<p id="numberOfLives" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center dark:text-white">Lives: 3</p>
								<!-- <p id="numberOfRetries" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center dark:text-white">Retries: 3</p> -->
							</form>
						</div>
					</div>
				</div>
			</div>


			<Game/>
		</main>
	</GameLayout>
</Layout>