---
import Layout from "../layouts/Layout.astro";
import { getImagesMap } from "./images/images";
import { getAllUsernames } from "../pages/api/users/user";
import SignUpForm from "../components/react/signUpForm";

const allUrls = await getImagesMap();
const allUsernames = await getAllUsernames();
---
<Layout title="Register">
    <section class="bg-gray-50 dark:bg-gray-900">

        <div style={{display: 'none'}} id="emailAlert" class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div>
              This email is already being used.
            </div>
        </div>

        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Create Como Se Dice account
                    </h1>

                    <SignUpForm client:idle urls={ allUrls }, usernames={ allUsernames }></SignUpForm>
                </div>
            </div>
        </div>
    </section>
</Layout>
