---
interface Props {
	title: string;
	roomCode: string;
}
import "../styles.css";
const { roomCode, title, body } = Astro.props;
---

<li class="link-card">
	<a>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<form>
		<label> Room Code: </label><input class="rounded-sm outline	" type="text" id="roomCode" size=4 name="roomCode" maxlength=4>
		<button class="content-center">Go</button>
		</form>
	</a>
</li>

