---
/**
 * Component to create each card in the card grid. At the moment there are 4 cards,
 * 'Single player', 'Daily challenge', 'Start Multiplayer', and 'Join multiplayer'.
 */
interface Props {
	title: string;
	body: string;
	href: string;
}

import "../styles.css";
const { href, title, body } = Astro.props;
---

<li class="link-card h-48">
	<a href={href} class="h-screen flex items-center justify-center">
		<h2>
			{title}
			<span>&rarr;</span>
		
		<p>
			{body}
		</p>
	</h2>
	</a>
</li>

