---
import { ButtonProps } from "./common.ts";
import NextWordCard from "./NextWordCard.astro";
import WordGuessField from "./WordGuessField.astro";
import Button from "./Button.astro";
import Confetti from '../api/confetti.jsx'
import ReactDOM from "react-dom";

---

<NextWordCard></NextWordCard>
<WordGuessField/>
<Button class='justify-center' title="Guess"></Button>
<div result>
<!-- <button id="guessButton">Guess</button> -->

<script>
    const words: { spanish: string; english: string } [] = [
    { spanish: "gato", english: "cat" },
    { spanish: "perro", english: "dog" },
    { spanish: "casa", english: "house" },
    { spanish: "sol", english: "sun" },
    { spanish: "agua", english: "water" },
    { spanish: "amarillo", english: "yellow" },
    { spanish: "manzana", english: "apple" },
    { spanish: "rojo", english: "red" },
    { spanish: "arbol", english: "tree" },
    { spanish: "flor", english: "flower" },
    ];

    let currentWordIndex = 0;

    let wordContainer = document.getElementById('wordContainer');
    let guessField = document.getElementById('guessField');
    let guessButton = document.getElementById('guessButton');
    let resultDiv = document.querySelectorAll('result');

    function displayNextWord() {
        console.log("In displayNextWord") 
        if (currentWordIndex < words.length) {
            console.log("Here")
            wordContainer.textContent = "¿Como Se Dice? " + words[currentWordIndex].spanish;
            guessField.value = '';
            resultDiv.textContent = '';
        } else {
            // const [isExploding, setIsExploding] = React.useState(false);
            wordContainer.textContent = 'You Win!';
            guessField.style.display = 'none';
            guessButton.style.display = 'none';
            // <Confetti/>

      } 
    }
    guessButton.addEventListener('click', () => { 
        checkAnswer();
    });
    document.addEventListener('keydown', function (e){
        console.log('pressed a key')
        if (e.key === 'Enter'){
            checkAnswer();
        }
    });
    function checkAnswer(){
        const userGuess = guessField.value.toLowerCase();
        console.log("Print userGuess " + userGuess);
        const currentWord = words[currentWordIndex];
        console.log("Print currentWord " + currentWord.spanish.toLowerCase());
        if (userGuess === currentWord.english.toLowerCase()) {
            console.log("Correct plus one point");
            resultDiv.textContent = 'Correct!';
            currentWordIndex++;
            displayNextWord();
        } else {
            console.log("Not correct");
            guessField.value = '';
            resultDiv.textContent = 'Incorrect. Try again.';
        }
    }
</script>


../api/confetti.js