---
import "../styles.css";
---
<footer class="bg-white dark:bg-gray-900 fixed bottom-0 w-screen">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-xs text-gray-500 sm:text-center dark:text-gray-400">© 2023 Cómo Se Dice. All Rights Reserved. Developed by <strong>Gerardo Soto</strong> and <strong>Roberto Santos Hernandez</strong>. Icons used were made by <strong><u><a href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a></u></strong> and <strong><u><a href="https://www.flaticon.com/authors/wahyu-adam">Wahyu Adam</a></u></strong>.
          </span>
      </div>
    </div>
</footer>
